<!--View Information-->
<!--View name : Try App No Back Button-->
<!--State name : app.tryAppNoBackBtn-->
<!--URL : #app/tryAppNoBackBtn-->

<ion-view hide-nav-bar="true" title="Try App" id="tryapp">
    <!--try app section-->
    <ion-slide-box id="try-app-content" active-slide="0">
        <!--slider section-->
        <ion-slide class="slide-01">
            <!--<div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/app/fakeSignUp" class="left md-raised md-button md-default-theme ">SIGN UP</a>
                </div>
                <div class="col-50">
                    <a href="#/app/fakeLogin" class="right md-raised md-button md-default-theme">Log In</a>
                </div>
            </div>-->
        </ion-slide>
        <ion-slide class="slide-02">
            <!--<div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/app/fakeSignUp" class="left md-raised md-button md-default-theme ">SIGN UP</a>
                </div>
                <div class="col-50">
                    <a href="#/app/fakeLogin" class="right md-raised md-button md-default-theme">Log In</a>
                </div>
            </div>-->
        </ion-slide>
        <ion-slide class="slide-03">
            <!--<div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/app/fakeSignUp" class="left md-raised md-button md-default-theme ">SIGN UP</a>
                </div>
                <div class="col-50">
                    <a href="#/app/fakeLogin" class="right md-raised md-button md-default-theme">Log In</a>
                </div>
            </div>-->
        </ion-slide>
        <ion-slide class="slide-04">
            <!--<div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/app/fakeSignUp" class="left md-raised md-button md-default-theme ">SIGN UP</a>
                </div>
                <div class="col-50">
                    <a href="#/app/fakeLogin" class="right md-raised md-button md-default-theme">Log In</a>
                </div>
            </div>-->
        </ion-slide>
        <ion-slide class="slide-05">
            <div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/app/signUp" ng-click="walkthroughSeen()" class="left md-raised md-button md-default-theme ">Sign Up</a>
                </div>
                <div class="col-50">
                    <a href="#/app/login" ng-click="walkthroughSeen()" class="right md-raised md-button md-default-theme">Log In</a>
                </div>
            </div>
        </ion-slide>
        <!--<ion-slide class="slide-08">
            <a href="" class="sign-up-button md-raised md-button md-default-theme material-background">FIND RIDE</a>
            <div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/app/fakeSignUp" class="left md-raised md-button md-default-theme ">SIGN UP</a>
                </div>
                <div class="col-50">
                    <a href="#/app/fakeLogin" class="right md-raised md-button md-default-theme">Log In</a>
                </div>
            </div>
        </ion-slide>-->
        <!--end slider section-->
    </ion-slide-box><!--end try app section-->
</ion-view>