<ion-view title="Update Ride Preference">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar

    <!--social sign up section-->
    <ion-content id="social-sign-up-content" ng-init="getPreferences()">
        <div class="app-icon">
            <img src="{{pimage}}" class="user-img">
        </div>
        <!--input section-->
        <h3 class="soft-header padding-top padding-bottom text-center">Update Ride Preference</h3>
        <p class="text-center">Please select your ride preferences below.</p>
        <form ng-submit="updatePreferences(editProfile.personal)">
            <br/>
            <br/>

            <md-input-container>
                <h5 style="font-weight: bold; margin-bottom: -10px;" class="soft-header">Chattiness</h5>
                <md-select ng-model="editProfile.personal.Chattiness" aria-label="md-option">
                    <md-option ng-repeat="c in chattinessLevels" ng-value="c.i"><i class="{{c.faClass}}"></i> {{c.lebel}}</md-option>
                </md-select>
                <div class="formexplain">What level of conversations do you think you are on?</div>
            </md-input-container>

            <md-input-container>
                <h5 style="font-weight: bold; margin-bottom: -10px;" class="soft-header">Music</h5>
                <md-select ng-model="editProfile.personal.Music" aria-label="md-option">
                    <md-option ng-repeat="m in musicLevels" data-id="{{m.s}}" ng-value="m.i"><i class="{{m.faClass}}"></i> {{m.lebel}}</md-option>
                </md-select>
                <div class="formexplain">How much music do you tolerate?</div>
            </md-input-container>

            <md-input-container>
                <h5 style="font-weight: bold; margin-bottom: -10px;" class="soft-header">Smoking</h5>
                <md-select ng-model="editProfile.personal.Smoking" aria-label="md-option">
                    <md-option ng-repeat="s in smokeLevels" ng-value="s.i"><i class="{{s.faClass}}"></i> {{s.lebel}}</md-option>
                </md-select>
                <div class="formexplain">Smoking?</div>
            </md-input-container>

            <md-input-container>
                <h5 style="font-weight: bold; margin-bottom: -10px;" class="soft-header">Pets</h5>
                <md-select ng-model="editProfile.personal.Pets" aria-label="md-option">
                    <md-option ng-repeat="p in petsLevels" ng-value="p.i"><i class="{{p.faClass}}"></i> {{p.lebel}}</md-option>
                </md-select>
                <div class="formexplain">How do you feel about pets on the journey?</div>
            </md-input-container>


            <!--end input section-->
            <div class="text-center">
                <button type="submit" class="md-raised social-button md-button md-default-theme material-background">
                    Save Preferences
                </button>
            </div>
        </form>

    </ion-content><!--end social sign up section-->
</ion-view>