<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Recover Password" hide-nav-bar="true">
    <!--left button on navigation bar-->
    <!--<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>--><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-white">
        <!--fake login form section-->
        <form class="fakeLogin-form" ng-submit="recoverPassword(recoverPassword)">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <div ng-show="isLoginFailed==1" style="background:green; color:white; padding:10px; width:auto" >Password sent to your email!</div>
             <div ng-show="isLoginFailed==3" style="background:red; color:white; padding:10px; width:auto" >Account with email don't exist!</div>
             <div class="sub-header"><strong>Recover Password</strong></div>
           <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="user-name" type="email" placeholder="Registered Email" ng-model="recoverPassword.email">
                </md-input-container> 
            </div>
            <div>
                <button type="submit" class="social-button md-button md-default-theme material-background">Recover Password</button>

                <div class="dhp">
                   Already have your password? <a href="#/app/login">Sign In</a>
                </div>
            </div>
        </form> <!--end fake login form section-->
    </ion-content><!--end login content section-->
</ion-view>