<!--View Information-->
<!--View name : Sign Up-->
<!--State name : app.signUp-->
<!--URL : #app/signUp-->

<ion-view title="Sign Up">
    <!--left button on navigation bar-->
    <!--<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>--><!--end left button on navigation bar-->

    <!--social sign up section-->
    <ion-content id="social-sign-up-content">
        <div class="app-icon">
            <img src="img/app_icon.png" class="md-card-image">
        </div>
        <div ng-show="errorMessage" style="background:red; color:white; padding:10px; width:auto" >{{errorMessage}}</div>
        <!--input section-->
        <form class="signup-form" ng-submit="register(r)">
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" ng-model="r.vFirstName" placeholder="First Name">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" ng-model="r.vLastName" placeholder="Last Name">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="email" class="user-name" ng-model="r.vEmail" placeholder="Email">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="password" ng-model="r.vPassword" class="user-name" placeholder="Password">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="Confirm Password">
            </div>
        </md-input-container>
        <md-checkbox aria-label="CheckboxTerms">
            I accept terms and conditions.
        </md-checkbox>
        <!--end input section-->
        <div class="text-center"><button class="md-raised social-button md-button md-default-theme material-background">Sign Up</button></div>
        <div class="dhp">
            Already have an account? <a href="#/app/login">Sign In</a>
        </div>
      </form>

    </ion-content><!--end social sign up section-->
</ion-view>
